.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color3;
    width: 100%;
    height: 60px;
    box-shadow: $box-shadow;
    position: fixed;
    top: 0;
    &__text{
        font-size: 35px;
        color: $color4;
        font-family: 'Aldrich', sans-serif;        
    }
}
// pokepalettes.com/